.cajaMayor {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #000000;
  min-height: 100vh;
}

.menu {
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(255, 30, 0, 0.822);
  height: auto;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding-left: 70px;
}

.menubtn {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}
.menubtn:hover{
  color:rgba(255, 30, 0, 0.822);
}

.cajaContenido {
  background-color: #000000;
  /*background-image: url('../../assets/imgPr.png');*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(58, 58, 58);
  text-align: center;
  padding: 0px 20px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
}

.informacion {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.infotext {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.informacion p {
  text-align: start;
  color: #f5f5f5;
}

.informacion h1 {
  color: rgba(255, 30, 0, 0.822);
}

.contenidoimg {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navegacion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.keyboard {
  background-color: rgb(0, 0, 0);
  color: 'white';
  border-radius: 50px;
}

.keyboard:hover {
  background-color: rgb(26, 26, 26);
  color: rgba(255, 30, 0, 0.822);
}

/* Media Query para pantallas medianas */
@media (max-width: 768px) {
  .cajaContenido {
      flex-direction: column;
      height: auto;
      padding: 20px;
      margin-top: 70%;
  }

  .informacion, .contenidoimg {
      width: 100%;
      height: auto;
  }

  .infotext{
      height: 80vh;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .informacion p {
    text-align: center;
  }
  
  .informacion h1 {
    text-align: center;
  }
}

/* Media Query para pantallas pequeñas */
@media (max-width: 480px) {
  .menu {
      height: auto;
  }

  .cajaContenido {
      height: auto;
      padding: 10px;
      margin-top: 100%;
  }

  .informacion, .contenidoimg {
      width: 100%;
      text-align: center;
  }

  .infotext{
    height: 80vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .informacion p {
    text-align: center;
  }

  .informacion h1 {
    text-align: center;
  }

  .menubtn {
      font-size: 14px;
  }

  .navegacion {
      margin-top: 10px;
  }
}
