.container{
    background-color: transparent;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: transparent;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.typography{
    background-color: transparent;
    text-align: center;
}
.form{
    width: 100%;
}


@media (max-width: 768px) {
    .box{
        width: 70%;
    }
}
@media (max-width: 480px) {
    .box{
        width: 80%;
    }
}